/* Brand color // #339af0 brand color */

.home {
  height: 100vh;
  background-color: aquamarine;
  align-items: center;
  gap: 2rem;
  /* flex-grow: 1;
  flex-basis: 0; */
}

.img {
  width: 2500px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 78%;                                                 /*edit*/
  gap: 12px;
}

.primary-heading {
  font-size: xx-large;
  font-weight: 800;
}

.primary-content {
  font-size: medium;
}

.btn {
  margin-bottom: 12px;
  width: 50%;
}

.btn--login {
  width: 50%;
}

.btn--signup {
  color: #3390f0;
}
