/* Brand color // #339af0 brand color */

.home {
  height: 100vh;
  background-color: aquamarine;
  align-items: center;
  gap: 2rem;
  /* flex-grow: 1;
  flex-basis: 0; */
}

.img {
  width: 2200px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.primary-heading {
}

.primary-content {
}

.btn {
  margin-bottom: 12px;
}

.btn--login {
}

.btn--signup {
  color: #3390f0;
}
