body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-bar{
  background-color: rgb(141, 207, 238);
  height: 8rem;
  padding-top: 25px;
  padding-left: 15px
}

.nav-bar .heading{
  text-align: left;
  font-weight: 900;
  font-size:xx-large;
}

.nav-bar .btn{
  width: fit-content;
  float: right;
  font-weight: 800;
  font-size: x-large;
  padding-left: 2rem;
  padding-right:2rem;
}